{# GROUPS #}
{% include 'jinja-templates/groups.j2' %}

{# INTERFACES #}
{% include 'jinja-templates/interfaces.j2' %}

{# ROUTING-INSTANCES #}
{% include 'jinja-templates/routing-instances.j2' %}

{# PROTOCOLS #}
{% include 'jinja-templates/protocols.j2' %}